In [ ]:
# Syntax of a for loop
for variable in Sequence:
  # Code to be executed in each iteration
  # Indentation is crucial in Python to define the block of code inside the loop

In [1]:
fruits = ["apple","banana","cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [2]:
#Looping through a string:
for char in "Python":
  print(char)

P
y
t
h
o
n

In [3]:
#Looping through a range:
for num in range(1,5):
  print(num)

1
2
3
4

In [4]:
#Looping through a dictionary:
person = {"Name":"Rutuja","Age":22,"City":"Mumbai"}
for key,value in person.items():
  print(f"{key}: {value}")

Name: Rutuja
Age: 22
City: Mumbai

In [8]:
#Sum of Numbers:
#Write a program that calculates the sum of all numbers from 1 to 10 using a for loop.
sum = 0
for i in range(1,11):
  sum = sum + i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [10]:
#Even Numbers:
#Print all the even numbers between 20 and 40 using a for loop.
for i in range(20,41,2):
  print(i)

20
22
24
26
28
30
32
34
36
38
40

In [11]:
#Multiplication Table:
#Write a program to generate the multiplication table (up to 10) for a given number using a for loop.
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [12]:
#List Manipulation:
#Given a list of numbers [1, 4, 7, 2, 5], create a new list that contains each number multiplied by 3 using a for loop.
l = [1, 4, 7, 2, 5]
for i in l:
  print(i*3)

3
12
21
6
15

In [16]:
#Factorial:
#Write a program to calculate the factorial of a number using a for loop. The factorial of a number is the product of all positive integers up to that number.
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(f"The factorial of {num} is {factorial}")

Enter a number: 5
The factorial of 5 is 120

In [20]:
#Character Count:
#Given a string, count the number of occurrences of the letter 'a' using a for loop.
string = input("Enter any String : ")
sum = 0
for i in string:
  if i=="a":
   sum += 1
print(sum)

Enter any String : aaaa
4

In [21]:
#Nested Loop:
#Create a nested loop to print a pattern of asterisks in the following way:
#*
#**
#***
#****
#*****
for i in range(1, 6):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [22]:
#Reverse a String:
#Given a string, print it in reverse order using a for loop.
input_string = input("Enter a string: ")
reversed_string = ""

for char in input_string:
    reversed_string = char + reversed_string

print("Reversed String:", reversed_string)

Enter a string: apple
Reversed String: elppa

In [23]:
#Prime Numbers:
#Write a program to print all prime numbers between 1 and 50 using a for loop.
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47