Find the 3 most profitable companies in the entire world.
Output the result along with the corresponding company name.
Sort the result based on profits in descending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
forbes_global_2010_2014.head()

df=forbes_global_2010_2014.sort_values(by=['profits'],ascending=False)
df[['company','profits']].head(3)

In [1]:
n=int(input())

if n%2!=0:
    print("Weird")
elif n%2==0 and 2<=n<=5:
    print("Not Weird")
elif n%2==0 and 6<=n<=20:
    print("Weird")
elif n%2==0 and n>20:
    print("Weird")
else:
    print(n)

4
Not Weird

Write a solution to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

In [2]:
from pickle import FALSE
import pandas as pd

# Sample data
data = {
    'id': [1, 2, 3, 4, 5],
    'name': ['John', 'Jane', 'Joe', 'Emily', 'Jane'],
    'email': ['john@example.com', 'jane@example.com', 'joe@example.com', 'emily@example.com', 'jane@example.com']
}

# Create DataFrame
df = pd.DataFrame(data)

# Find duplicate emails
duplicates = df[df['email'].duplicated(keep=False)]

# Print the duplicate emails
print(duplicates['email'])

1    jane@example.com
4    jane@example.com
Name: email, dtype: object

In [5]:
###OR

Dup = df.groupby('email').filter(lambda x: len(x)>1)
print(Dup)

   id  name             email
1   2  Jane  jane@example.com
4   5  Jane  jane@example.com

Write a solution to find the employees who earn more than their managers.

In [8]:
import pandas as pd

# Sample data
data = {
    'id': [1, 2, 3, 4],
    'name': ['John', 'Jane', 'Joe', 'Emily'],
    'salary': [100000, 80000, 120000, 90000],
    'manager_id': [None, 1, 1, 2]
}

# Create DataFrame
df = pd.DataFrame(data)

# Self-join the DataFrame to get employee and manager information
merged = pd.merge(df, df, left_on='manager_id', right_on='id', suffixes=('_employee','_manager'))

# Filter the DataFrame to get the employees who earn more than their managers
result = merged[(merged['salary_employee']>merged['salary_manager'])]
print(result)

   id_employee name_employee  salary_employee  manager_id_employee  \
1            3           Joe           120000                  1.0
2            4         Emily            90000                  2.0

   id_manager name_manager  salary_manager  manager_id_manager
1           1         John          100000                 NaN
2           2         Jane           80000                 1.0